html{
  background-color: rgba(99, 99, 99,0.3);
}
::-webkit-scrollbar{
  display: none;
}
.App {
  text-align: center;
}

ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
ul{
  display: inline-flex;
  flex-direction: column;
}
ul button{
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  color: white;
  
}
ul button:hover{
  opacity: 0.8;
}
h4{
  margin: 5px 30px;
}