.App {
  text-align: center;
}

ul div{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul{
  display: inline-flex;
  flex-direction: column;
}
ul button{
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  
}
ul button:hover{
  opacity: 0.8;
}